/* CSS Variables */
:root {
    --primary-color: #b90415;
    --primary-color-hover: #d3071b;
    --secondary-color: #103063;
    --secondary-color-hover: #143f85;
    --light-color: #f4f4f4;
  }

body {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  line-height: 1.6;
}


a {
  text-decoration: none;
  color: #ccc;
}


/* Footer */
footer .footer-bottom {
  background: #333;
  padding: 1rem;
  color: #fff;
}

/* Utility Classes */
.container {
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}

.lead {
  font-size: 1.3rem;
}

.text-center {
  text-align: center;
}

.active{
    background: rgb(202, 143, 34);
    color: #fff;
    /* border: 1px solid #fff; */
}

/* Buttons */
.btn {
  padding: 1rem;
  color: #fff;
  display: inline-block;
}

.btn-primary {
  background: var(--primary-color);
}

.btn-primary:hover {
  background: var(--primary-color-hover);
}

.btn-secondary {
  background: var(--secondary-color);
}

.btn-secondary:hover {
  background: var(--secondary-color-hover);
}

/* Text colors */
.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-light {
  color: var(--light-color);
}

.bg-light {
  background: var(--light-color);
  color: #333;
}

.mb {
  margin-bottom: 1rem;
}

.mt {
  margin-top: 1rem;
}

/* Navigation */
nav {
  height: 40px;
  width: 100%;
  background-color: #7b1fa2;
  color: #eee;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  float: left;
}
nav a {
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  padding: 8px 0;
  color: #eee;
  text-decoration: none;
}
nav li:hover {
  background-color: #7b1fa2;
}
.cf>ul{
    float:right;
    margin-right: 21px;
}

@media screen and (max-width: 580px) {
  .hide-on-small {
    display: none;
  }
nav {
    height: auto;
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav li {
    width: 100%;
    float: left;
    position: relative;
  }
  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background: #7b1fa2;
    border-bottom: 1px solid #7b1fa2;
  }
  nav a:hover {
    background: #7b1fa2;
  }
  nav a#openup:after {
    content: '|||';
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 20px;
  }
  nav a#openup {
    display: block;
    background-color: #7b1fa2;
    width: 100%;
    position: relative;
  }
}
.cf:before,
.cf:after {
  content: '';
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

/* form */


.my-form{
	padding:20px;
}

.my-form .form-group{
	padding-bottom:15px;
}



.my-form input[type="password"], .my-form input[type="email"]{
	padding:8px;
	width:100%;
}

.loginform{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}



.button{
	background-color:#333;
	color:#fff;
	padding:10px 15px;
	border:none;
}

.button:hover{
	background:red;
	color:#fff;
}

.clr{
	clear:both;
}